<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
  </head>

  <header>
    <title>{{title}}</title>
  </header>

  <nav>
    <ul>
      {{#each collections as |value key|}}
        <li> <a href="{{../config.baseURL}}/{{key}}">{{key}}</a> </li>
      {{/each}}
    </ul>
  </nav>

  <article>
    {{{contents}}}
  </article>

  <aside>
    {{#if collection}}
      <h3> {{collection}}: </h3>
      <ul>
        {{#each (lookup collections collection) as |value key|}}
          <li> <a href="{{../config.baseURL}}/{{value.path}}">{{value.title}}</a> </li>
        {{/each}}
      </ul>
    {{/if}}
  </aside>

  <footer>
    {{#if previous}}
      <a href="{{config.baseURL}}/{{previous.path}}">{{this.previous.title}}</a> </li>
    {{/if}}
    {{#if next}}
      <a href="{{config.baseURL}}/{{next.path}}">{{next.title}}</a> </li>
    {{/if}}
    Last changed: <time datetime="{{date}}"> {{date}} <time>
  </footer>
</html>
